html{
    font-size: 16px;
}

body{
    font-family: 'Montserrat'
}

.bg-blue-1{
    background-color: rgb(147, 174, 218);
}

.bg-blue-2{
    background-color: rgb(13, 63, 109);
}

.bg-blue-3{  
    background: rgb(0, 82, 156);
}

.bg-blue-4{
  background-color: rgb(0, 11, 188);
}

.bd-radius{
    border-radius: 70px;
}

.bd-shadow{
    box-shadow: black 1px 1px 8px;
}

.button{
    background-color: rgb(13, 63, 109);
    color: white;
    margin: 0 1em;
}

.button:hover{
    color: #c2c2c2;
}