.brand-logo{
    height: 150px;
    width: auto;
}

.main-title{
    text-align: center;
    margin-top:4em; 
    margin-bottom: 3em; 
}

.search-bar{
    margin-bottom: 3em;
}

.img-container{
    margin-top: 7em;
}

.id-aluno{
    display: none;
}

.row-aluno{
    cursor: pointer;
}

#table-info{
    margin-top: 0;
}

.header-title{
    text-align: center;
    color: white;
    font-size: 1.7em;
    text-transform: initial;
    font-family: 'Cinzel'
}

.footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    border-top: rgb(13, 63, 109) solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy{
    font-size: 1.6em;
    font-weight: 550  ;
    font-family: 'Cinzel';
    color: rgb(13, 63, 109);
}

.table{
    margin-bottom: 0;
}

@media (max-width: 1090px){
    .brand-div{
        display: flex !important;
        justify-content: center !important;
    }    
}